* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$font-primary: 'Inter', sans-serif;
$font-secondary: 'Lexend Deca', sans-serif;

.bg {
  font-size: 1rem;
  background-color: #090b1a;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    display: flex;
    background-color: #1b1938;
    height: 400px;
    width: 1000px;
    border-radius: 10px;

    .information {
      margin: 4.5rem;

      .text {
        margin-bottom: 3.5rem;

        h1 {
          color: #ffffff;
          font-family: $font-primary;
          font-size: 2rem;
          margin-bottom: 1.5rem;

          span {
            color: #aa5cdb;
          }
        }

        p {
          color: #ffffff99;
          font-family: $font-primary;
          font-size: 0.9rem;
          line-height: 1.5rem;
        }
      }

      .data {
        display: flex;
        justify-content: space-between;

        .info {
          h2 {
            color: #ffffff;
            font-family: $font-primary;
            margin-bottom: 0.5rem;
          }

          p {
            color: #ffffff99;
            font-family: $font-secondary;
            font-size: 0.7rem;
            text-transform: uppercase;
          }
        }
      }
    }

    .bg-image {
      width: 50%;
      background-color: #aa5cdb;

      img {
        opacity: 0.4;
      }
    }
  }
}

/* RESPONSIVO */
