* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

root {
  font-size: 15px;
}

$font-primary: 'Inter', sans-serif;
$font-secondary: 'Lexend Deca', sans-serif;

.bg {
  font-size: 1rem;
  background-color: #090b1a;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    display: flex;
    justify-content: space-between;
    background-color: hsl(244, 38%, 16%);
    max-width: 1080px;
    min-height: 446px;
    border-radius: 0.5rem;

    .information {
      width: 50%;
      padding: 3.75rem;
      margin-right: 0.9rem;
      font-family: $font-primary;

      .text {
        margin-bottom: 4rem;
        h1 {
          color: hsl(0, 0%, 100%);
          font-weight: 700;
          font-size: 2.35rem;
          margin-bottom: 1.5rem;

          span {
            color: hsl(277, 64%, 61%);
          }
        }

        p {
          color: hsla(0, 0%, 100%, 0.6);
          font-size: 1rem;
          line-height: 1.75rem;
        }
      }

      .data {
        display: flex;

        .info {
          margin-right: 4.125rem;
          h2 {
            color: hsl(0, 0%, 100%);
            margin-bottom: 0.5rem;
          }

          p {
            color: hsla(0, 0%, 100%, 0.6);
            font-family: $font-secondary;
            text-transform: uppercase;
            font-size: 0.8rem;
          }
        }
      }
    }
    .bg-image {
      background: linear-gradient(
          hsla(277, 64%, 61%, 0.3),
          hsla(277, 64%, 61%, 0.3)
        ),
        url(../stats-preview-card-component-main/images/image-header-desktop.jpg);
      width: 50%;
      border-radius: 0 0.5rem 0.5rem 0;
      background-size: cover;
    }
  }
}

/* RESPONSIVO */
@media screen and (max-width: 1090px) {
  .container {
    flex-direction: column-reverse;
    width: 90%;
    height: max-content;
  }
}
